* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
}

body h1 {
  font-family: Montserrat;
  font-weight: 700;
}

body h2 {
  font-family: Montserrat;
  font-weight: 700;
}

body h3 {
  font-family: Montserrat;
  font-weight: 700;
}

body h4 {
  font-family: Montserrat;
  font-weight: 500;
}

body p {
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.8;
}

.wrapper {
  min-height: 100%;
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin: auto;
  float: none;
}

header {
  position: fixed;
  height: 5vh;
  width: 100%;
  max-width: 1800px;
}

header .navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.822);
}

header .navmenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-right: 30px;
}

header .navmenu ul li {
  margin-left: 30px;
}

header .navmenu ul li a {
  font-family: Montserrat;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

header .navmenu ul li a:hover {
  color: #550098;
}

header .line-menu {
  background-color: rgba(211, 211, 211, 0.527);
  height: 1px;
}

header .topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
  padding: 15px 5px 15px 5px;
}

header .topnav .mobile-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .topnav .mobile-nav-container .mobile-nav-logo {
  width: 20%;
}

header .topnav .active {
  color: #550098;
}

header .topnav #myLinks {
  display: none;
}

header .topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  font-family: Montserrat;
  font-weight: 700;
  text-align: center;
}

header .topnav a .icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: none;
}

@media (min-width: 768px) {
  header .topnav {
    display: none;
  }
}

@media (max-width: 768px) {
  header .navmenu {
    display: none;
  }
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 800px;
}

.presentation .presentation-image-mobile {
  max-width: 100%;
}

@media (min-width: 768px) {
  .presentation .presentation-image-mobile {
    display: none;
  }
}

.presentation .presentation-image-desktop {
  max-width: 100%;
}

@media (max-width: 768px) {
  .presentation .presentation-image-desktop {
    display: none;
  }
}

.phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #550098;
  padding-top: 50px;
  padding-bottom: 50px;
}

.phrase .phrase-picture img {
  max-width: 600px;
  height: auto;
}

@media (max-width: 768px) {
  .phrase .phrase-picture img {
    max-width: 100%;
  }
}

.phrase .phrase-text {
  max-width: 600px;
  padding-right: 10px;
  padding-left: 10px;
}

.phrase .phrase-text h2 {
  color: white;
}

.phrase .phrase-text p {
  color: white;
}

.services {
  margin-bottom: 50px;
  margin-top: 50px;
}

.services h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: -1;
}

.services .flex_services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.services .flex_services .box_flex_services {
  -webkit-box-shadow: 2px 2px 10px #b8b7b7;
          box-shadow: 2px 2px 10px #b8b7b7;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
}

.services .flex_services .box_flex_services img {
  max-width: 80px;
  height: auto;
}

.services .flex_services .box_flex_services p {
  padding-top: 10px;
}

footer {
  background-color: #550098;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100px;
  bottom: 0;
  left: 0;
}

footer h4 {
  color: white;
  padding-right: 10px;
}
/*# sourceMappingURL=index.css.map */